<figure class="overlay"></figure>
<main>
    <section class="top">
        <a class="logo" href="mailto:mustafawiped@gmail.com">
            <img src="assets/photos/foto.jpg">
            <p>click for contact!</p>
        </a>
        <article class="description">
            <figure class="title">
                <h1>Hi, I'm mustafawiped</h1>
                <p>Software Developer</p>
            </figure>
            <p>I love realizing unique mobile and web projects and helping people with these projects.<br>I usually
                develop mobile projects with Flutter, but I have also developed many android applications with Kotlin
                and Java.<br>Apart from mobile, I love making websites with Angular.js and I am improving myself in
                these areas.<br>I am also researching deep learning in AI and AI language training and trying to develop
                small projects in these areas.</p>
            <figure class="icons">
                <a href="https://www.github.com/mustafawiped">
                    <img src="assets/icons/github.png" alt="" class="icon-img">
                </a>
                <a href="https://www.instagram.com/mustafawiped">
                    <img src="assets/icons/instagram.png" alt="" class="icon-img">
                </a>
                <a href="https://www.x.com/mustafawiped">
                    <img src="assets/icons/twitter.png" alt="" class="icon-img">
                </a>
            </figure>
        </article>
    </section>
</main>

<button (click)="ButtonClick()">Sa</button>